@model IEnumerable<HUY_Store.Models.Sneaker>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<h1>Index</h1>

<form asp-action="Create">
    <p>
        <button class="btn btn-primary" type="submit" formmethod="get">Create New</button>
    </p>
</form>
    


<table class="table">
    <thead>
        <tr>
            <th>
                Số thứ tự
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Giá tiền
            </th>
            <th>
                Hình ảnh
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.ItemId)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                <form>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ItemId">Edit</a>
                    <button class="btn btn-primary" style="background-color:red; color:black" type="submit" asp-action="Edit" asp-route-id="@item.ItemId" formmethod="get">Edit</button>
                    <button class="btn btn-primary" style="background-color:lawngreen; color:black" type="submit" asp-action="Delete" asp-route-id="@item.ItemId" formmethod="delete">Delete</button>
                    <button class="btn btn-primary" style="background-color:yellow; color:black" type="submit" asp-action="Details" asp-route-id="@item.ItemId">Details</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
