@model IEnumerable<HUY_Store.Models.Sneaker>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}
<form asp-action="Details">
    <div id="PlaceHolderHere"></div>
</form>


<h1>Index</h1>

<form asp-action="Create">
    <p>
        <button class="btn btn-primary" type="submit" formmethod="get">Create New</button>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Số thứ tự
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Size
            </th>
            <th>
                Loại màu
            </th>
            <th>
                Thương hiệu
            </th>
            <th>
                Giá
            </th>
            <th>
                Hình
            </th>
            <th>
                Số lượng
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.ItemId)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ColorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    <form>
                        <button class="btn btn-primary" style="background-color:red;        color:black" type="submit" asp-action="Edit" asp-route-id="@item.ItemId" formmethod="get">Edit</button>
                        <button class="btn btn-primary" style="background-color:lawngreen;  color:black" type="submit" asp-action="Delete" asp-route-id="@item.ItemId" formmethod="delete">Delete</button>
                        <button class="btn btn-primary" style="background-color:yellow;     color:black" type="submit" asp-action="Details" asp-route-id="@item.ItemId">Details</button>
                        <button class="btn btn-primary" onclick="myDetails" type="button" data-toggle="ajax-modal" data-target="#add" asp-action="Details" asp-route-id="@item.ItemId">Details</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(function myDetails() {
        var PlaceHolderElement = $('#PlaceHolderHere');
        $('button[data-toggle="ajax-modal"]').click(function (event) {
            var url = $(this).data('url');
            var decodedUrl = decodeURIComponent(url);
            $.get(decodedUrl).done(function (data) {
                PlaceHolderElement.html(data);
                PlaceHolderElement.find('.modal').modal('show');
            })
        })
    })
</script>
